---
import Footer from "./Footer.astro";
import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
  description: string;
  ml?: string;
  title?: string;
  ogImage?: string;
  author?: string;
  canonicalURL?: string;
  publishedTime?: Date;
}

const {
  description,
  ml,
  ogImage,
  author,
  title,
  publishedTime,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;

const socialImageURL = new URL(ogImage ?? "og.png", Astro.url.origin).href;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta
      property="article:published_time"
      content={publishedTime?.toISOString()}
    />

    <!-- Open Graph/Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />
    <meta property="og:type" content="website" />
    <meta property="og:logo" content="/favicon.svg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:image" content={socialImageURL} />
    <title>Seamain's Blog</title>
  </head>
  <body class={ml + " overflow-x-hidden font-mono"}>
    <slot />
    <Footer />
  </body>
  <SpeedInsights />
</html>
